@import "tailwindcss";

:root {
  --color-primary: #f9f506;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;
  --color-text-dark: #181811;
  --color-text-light: #f5f5f0;
  --color-brand-purple: #4a148c;
  --color-brand-purple-dark: #2e004f;
}

@theme inline {
  --font-display: "Spline Sans", sans-serif;
}

body {
  font-family: "Spline Sans", sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
